body {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(105, 84, 84);
    border: 10px solid black;
    border-radius: 5px;
    padding: 5px;
}

.display {
    background-color: grey;
    border: 5px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    grid-column: 1 / -1;
    font-size: 50px;
    padding: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 80px);
    gap: 2px;
    margin-top: 4px;
}

#zero {
    grid-column: span 2;
}

button {
    border-radius: 7px;
    font-size: 30px;
}

button:active {
    background-color: rgb(27, 27, 34);
}